.root {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  margin-right: 1rem; /* Add margin to the right of the sidebar */
}

.sidebarList {
  list-style-type: none;
  padding: 0;
}

.sidebarItem {
  margin-bottom: 1rem;
}

.sidebarLink {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.sidebarLink:hover {
  color: var(--accent-color);
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.mainContentTitle {
  margin-top: 0;
  padding: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logoReact:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.readTheDocs {
  color: #888;
}

.appContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editorWrapper {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}