.root {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.sidebarList, .mobileNavList {
  list-style-type: none;
  padding: 0;
}

.navItem {
  margin-bottom: 1rem;
}

.navLink {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--accent-color);
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.mobileHeader {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menuButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobileTitle {
  margin: 0;
  font-size: 1.2rem;
}

.mobileNav {
  position: fixed;
  top: 60px; /* Adjust this value to match your header height */
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  z-index: 999;
  max-height: calc(100vh - 60px); /* Adjust this value to match your header height */
  overflow-y: auto;
}

.mobileNavList {
  margin: 0;
  padding: 1rem;
}

@media (max-width: 767px) {
  .root {
    flex-direction: column;
  }

  .mainContent {
    height: calc(100% - 60px); /* Adjust based on your header height */
    overflow-y: auto;
  }

  .sidebar {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobileHeader {
    display: none;
  }

  .mobileNav {
    display: none;
  }
}